body
{
    color:white;
    padding:0;
    margin:0;
    background: url("bodyimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:1000px; 
   
   /* height:10000px;*/
    
}

.profile
{
    
    position:fixed;
    display:inline-block;
    width:1529px;
    height:26px;
    top:0;
    padding:1px;
    
    background-color:transparent;
    
}
.social_logo
{
    position:absolute;
    right:34px;
    top:-10px;
}
.social_logo li
{
    display:inline-block;
    margin:5px;
}

.social_logo li a img
{
    width:20px;
    height:20px;
    border-radius: 5px;
    border:3px solid grey;
    display:inline-block;
   
   
}

.myphoto img
{
    width:40px;
    height:40px;
    display:inline-block;
    position:absolute;
    right:20px;
    top:670px;
    border-radius: 20px;
}

.navbar
{
    list-style: none;
    position:absolute;
    left:-20px;
    top:1px;
    
  
}
.navbar li
{
   display:inline-block;
   margin:10px;
  
}

.navbar li a
{
    text-decoration: none;
    color:white;


}

.navbar li a:hover
{
    text-decoration: underline;
    color:gold;
}

.bigintro
{
    display:inline-block;
    position:absolute;
    top:108px;
    left:589px;
    font-size: 22px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.about_me
{
    position:absolute;
    top:405px;
    left:29px;
    background-color:rgba(0,0,0,0.5);
    padding:24px;
    border:2px solid grey;
    border-radius: 20px;
   
}

.about_me h3
{
    font-size:27px;
    display:inline-block;
}
.about_me img
{
    position:relative;
    left:423px;
    bottom:10px;
    margin:0px;
    display:inline-block;
    width:60px;
    height:60px;
    border-radius:53px;
}

.about_me p
{
    font-size:20px;
    color:white;
    
}